.banner-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: large;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.custom-banner-image {
    cursor: pointer;
}