.grid-card-description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    font-size: large;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
 }