 @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
#pseudoBody{
	background-color: white;
	height: 620px;
	width: 100%;
	padding: 30px;
	padding-bottom: 0 ;
	font-family: 'Montserrat', sans-serif;
}

#containerLoginRegister{
	width: 90%;
	height: 95%;
	display: flex;
	border-radius: 15px;
	box-shadow: 6px 6px 6px 3px rgba(0,0,0,0.5);
	margin-left: 5%;
}

#columnLoginRegister{
	height: 100%;
	width: 40%;
	background-color:#800000; /*#A9A9A9*/
	position: relative;
	padding: 10%;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;;
}

#containerFormLogin, #containerFormRegister{
	width: 70%;
	height:80%;
	background-color: white;
	top: 10%;
	position: absolute;
	left: 20%;
	opacity: 1;
	border-radius: 15px;
	align-items: center;
	padding: 30px;
	padding-top: 5px;
}
#containerFormRegister{
	height: 88%;
}


#imagenHelado{
	width: 40px;
	height: auto;
	opacity: 0.8;
	display: inline-block;
	vertical-align: middle;

}

#columnIzqLoginRegister{
	width: 60%;
	height: 100%;
}

#containerLogoLoginRegister{
	width: 200px;
}

#logoLoginRegister{
	width: 100%;
	height: auto;
	border: none;
}

#footerWrapper{
	height: 10px;
	width: 100%;
}

#firmaFooter{
	display: inline-block;
	margin-left: 35%;
	margin-top: 10px;
	bottom: 5px;
}

#popcornImage{
	margin: 10%;
	margin-top: 0;
	width: 70%;
	height: auto;
	border: none;
}

.anchorLoginRegister{
	text-decoration: none;
	font-weight: bold;
	color: #800000;
}

.inputLoginRegister{
	width: 220px;
}

.buttonLoginRegister{
 background-color:#800000; 
 border-color:#800000 ;
}

.buttonLoginRegister:hover{
	color:#800000 ;
	background-color: white;
	border-color:#800000 ;
}

#headerSearch{
	display: inline-block;
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
}

#containerVideo{
	height: 80%;
	width: 100%;
}

#logoHeader{
	width: auto;
	height: 90%;
	border: none;
}

#inputSearch{
	width: 300px;
}

//css header
#logoHeader{
	width: 140px;
	height: auto;
}

#avatarUser{
	width: 30px;
	height: auto;
	// padding: 3px;
	margin-left: 20px;;
}

//css header
