// *{background-color: #000000;}
#notFoundContainer{
 background-color: #000000;
}

#notFound{
    height: 60%;
    width: auto;
    border: none;
    background-color: #000000;
    display:block;
    margin:auto;
}