@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{margin: 0; padding: 0; box-sizing: border-box;}
#pseudoBody{
	background-color: white;
	height: 1000px;
	width: 100%;
	padding: 30px;
	padding-bottom: 0 ;
	font-family: 'Montserrat', sans-serif;
}

#containerAll{
    background-color: red($color: #000000);
    width: 100%;
    height: 80%;
}

#containerPoster{
    background-color: #FF8888;
    height: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}

#posterImage{
    width: 70%;
    height: auto;

}

#containerDescription{
    background-color: #ffffff;
    height: 100%;
}

#descriptionRow{
    width: 100%;
    height: 40%;
}
#seasonsRow{
    background-color: #270861;
    width: 100%;
    height:60%;
}

#containerCarouselContent{
    background-color: #ff4444;
    width: 100%;
    height: 30%;
}

#containerDetails{
    width: 100%;
    height: 70%;
}
#cardSeasons{
    width: 600px;
    height: 80%;
}

#cardContainer{
    height: 80%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
    padding: 10%;
}